{% extends 'base/base.html' %}
{% block page_content %}
    <div class="card-box2">
        <form method="POST">
            <fieldset>
                <legend>Password changed</legend>
                {% csrf_token %}
                <p>You have successfully changed your password!</p>
                <p></p>
                <li><a style = "color: powderblue; text-decoration: none; "href="{% url 'dashboard' %}">Go to Dashboard</a></li>
            </fieldset>
        </form>
    </div>
{% endblock %}
