{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    {{ form }}
    {% csrf_token %}
            <div class=AlignCenter>
                <div class="card-box2">
                    <fieldset>
                        <legend>Category</legend>
                        <a style = "color: powderblue; text-decoration: none; "href="{% url 'show all' %}">All videos</a>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show abs' %}">Abs videos</a></p>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show arms' %}">Arms videos</a></p>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show back' %}">Back videos</a></p>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show chest' %}">Chest videos</a></p>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show legs' %}">Legs videos</a></p>
                        <p><a style = "color: powderblue; text-decoration: none; "href="{% url 'show shoulders' %}">Shoulders videos</a></p>
                    </fieldset>
                </div>
            </div>
{% endblock %}